body {
    background-color: #FFFFFF;
    color:#757575;
}

/*Цвет основого текста color:#212121 */
/*Цвет ссылок подсвеченых color:#2196F3 */
/*Цвет белый color:#FFFFFF */
/*Цвет опсания color: #757575; */
/*Цвет контактов в футере: color: rgba(255, 255, 255, 0.6); */

.list {
    list-style:none;
}

.list a{
    text-decoration: none;
}

.logo{
    text-decoration: none;
}

.logo_web {
    color:#2196F3;
}

.logo_studio_black {
    color: #212121;
}

.logo_studio_white {
    color: #FFFFFF;
}

.section_title {
    color:#212121;
    text-transform: uppercase;
}

.main {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 44px;
}

.name {
    text-transform: none;
    font-size: 16px;
}

.second {
    font-size: 36px;
}

.contacts {
    font-size: 14px;
}



.our_team p {
    font-size: 16px;
}

.site-contacts .map {
    color: #FFFFFF;
}
  /* Header */


.site-nav .link:hover, 
.site-nav .link:active,
.site-nav .link:focus
 {
    color: #2196F3;
}

.site-nav a {
    color: #212121;
}

/* Banner */

.banner {
background-color: #2F303A;
}

.button {
    background-color: #2196F3;
    font-size: 16px;
    border-radius: 4px;
    color:#FFFFFF;
    width: 200px;
    height: 50px;
}

/* Contacts */

.site-contacts a{
    color:#757575;
}

.site-contacts .link:hover,
.site-contacts .map:hover {
        color: #2196F3;
}

/* Advantages */

.advantages p {
    font-size: 14px;
}

/* Our team */

.our-team {
 background-color: #F5F4FA;;
}



/* What we do */

.services {

}

/* Footer */

.footer {
    background-color: #2F303A;
}