
:root {
  --primary-text-color: #757575;
}


body {
    background-color: #FFFFFF;
    color:#757575;
    font-family: Roboto, sans-serif;
    font-style:normal;
    letter-spacing: 0.03em;
}


.logo{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.logo_web {
    color: #2196F3;
}

.logo_studio_black {
    color: #212121;
}

.logo_studio_white {
    color: #FFFFFF;
}


.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}


.section_title {
    color:#212121;
    text-transform: uppercase;
    font-weight: 700;
}

.main {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.2;
    font-style: normal;
    text-align: center;
    font-weight: 900;
}

.name {
    text-transform: none;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}

.second {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.contacts {
    font-size: 14px;
    line-height: 1.7;
}

.our_team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.16;
}

.site-contacts .map {
    color: #FFFFFF;
}

.button {
    background-color: #2196F3;
    border: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.9;
    font-weight: 700;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
}

.menu .button.active {
    background-color: #2196F3;
    color: #FFFFFF;
}

.menu .button {
    background-color: #F5F4FA;
    color:#212121;
    font-weight:500;
}


.site-nav .link:hover, 
.site-nav .link:active,
.site-nav .link:focus
 {
    color: #2196F3;
}

.site-nav a {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: #2196F3;
}

/* Banner */

.banner {
background-color: #2F303A;
}

/* Contacts */

.site-contacts a{
    color:#757575;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
}

.site-contacts .link:hover,
.site-contacts .map:hover {
        color: #2196F3;
}

/* Advantages */

.advantages p {
    font-size: 14px;
    font-weight: 400;
}

/* Our team */

.our-team {
 background-color: #F5F4FA;
}

/* What we do */

.project {
text-transform: none;
}

/* Footer */

.footer {
    background-color: #2F303A;
}


