
:root {
  --button-and-h1-color: #FFFFFF;
  --main-text-color: #757575;
  --small-text-color: #212121;
  --background-button-hover:#2196F3;
  --background-header-footer-color:#2F303A;
  --background-our-team-color: #F5F4FA;
}


body {
    background-color: var(--main-white-color);
    color:var(main-text-color);
    font-family: Roboto, sans-serif;
    font-style:normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}


.logo{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.logo_web {
    color: var(--background-button-hover);
}

.logo_studio_black {
    color:var(--small-text-color);
}

.logo_studio_white {
    color: var(--button-and-h1-color);
}


.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}


.section_title {
    color:var(--small-text-color);
    text-transform: uppercase;
    font-weight: 700;
}

.main {
    color: var(--button-and-h1-color);
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.2;
    font-style: normal;
    text-align: center;
    font-weight: 900;
}

.name {
    text-transform: none;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}

.second {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.contacts {
    font-size: 14px;
    line-height: 1.7;
}

.our_team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.16;
}

.site-contacts .map {
    color: var(--button-and-h1-color);
}

.button {
    background-color: var(--background-button-hover);
    border: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.9;
    font-weight: 700;
    color: var(--button-and-h1-color);
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.menu .button.active {
    background-color: var(--background-button-hover);
    color:var(--button-and-h1-color);
}

.menu .button {
    background-color: var(--background-our-team-color);
    color:var(--small-text-color);
    font-weight:500;
}

.menu .button:hover,
.menu .button:active,
.menu .button:focus {
    background-color: var(--background-button-hover);
    color: var(--button-and-h1-color);
}


.site-nav .link:hover, 
.site-nav .link:active,
.site-nav .link:focus
 {
    color: var(--background-button-hover);
}

.site-nav a {
    color: var(--small-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--background-button-hover);
}

/* Banner */

.banner {
background-color: var(--background-header-footer-color);
}

/* Contacts */

.site-contacts a{
    color:var(--main-text-color);
    font-size: 14px;
    line-height: 1.2;
}

.site-contacts .link:hover,
.site-contacts .map:hover {
        color: var(--background-button-hover);
}

/* Advantages */

.advantages p {
    font-size: 14px;
}

/* Our team */

.our-team {
 background-color: var(--background-our-team-color);
}

/* What we do */

.project {
text-transform: none;
}

/* Footer */

.footer {
    background-color: var(--background-header-footer-color);
}


